<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Banking System{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-indigo-600">
    {% include 'navbar.html' %}
    {% block body %}
    <div class="lg:container lg:mx-auto" id="main">
        {% block content %}
        {% endblock content %}
    </div>
    {% endblock body %}
</body>
</html>