{% extends 'base.html' %} {% block body %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <a href="#"><img src="{{product.image.url}}" /></a>
            </div>
            <!-- img-big-wrap.// -->
          </article>
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
          <article class="content-body">
            <h2 class="title">{{product.product_name}}</h2>

            <div class="mb-3">
              <h5>Price:<var class="price h4">{{product.price}}</var></h5>
            </div>
            <div class="mb-3">
              <h5>
                category:<var class="price h4"
                  >{{product.category.category_name}}</var
                >
              </h5>
            </div>
            <div class="mb-3">
              <h5>In stock:<var class="price h4">{{product.stock}}</var></h5>
            </div>

            <p>{{product.description}}</p>
            <a href="{% url 'add_cart' product.id %}" class="btn btn-primary">
              <span class="text">Add to cart</span>
              <i class="fas fa-shopping-cart"></i>
            </a>
          </article>
          <!-- product-info-aside .// -->
        </main>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

    <br />

    <div class="row">
      <div class="col-md-9">
        <header class="section-heading">
          <h3>Place Your Review</h3>
        </header>
        {% if request.user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
		  <label class="font-weight-bold">{{form.name.label}}:</label>
          {{form.name}}
		  <br />
          <br />
          <label class="font-weight-bold">{{form.title.label}}:</label>
          {{ form.title }}
          <br />
          <br />
          <label class="font-weight-bold">{{form.review.label}}:</label>
          {{form.review}}
          <button type="submit" class="btn btn-info d-block mt-4">
            Submit
          </button>
        </form>
		{% else %}
			<h4>Please <a href="{% url "login" %}">Login</a> to provide review</h4>
        {% endif %}
        <header class="section-heading">
          <h3>All Customer Reviews</h3>
        </header>
        {% for item in review %}
		<article class="box mb-3">
			<div class="icontext w-100">
			  <div class="text">
				<span class="date text-muted float-md-right">{{item.reviewDate}}</span>
				<h5 class="mb-1">{{item.name}}</h5>
			  </div>
			</div>
			<!-- icontext.// -->
			<div class="mt-3">
			   <h6>{{item.title}}</h6>
			  <p>{{item.review}}</p>
			</div>
		  </article>
		{% endfor %}
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container .//  -->
</section>
{% endblock body %}
